<div class="card m-t-2">
  <div class="card-block">
      <h5 class="card-title">
        <img src="/img/placeholder.png" class="img-circle" width="40x">
        <%= @user.user_name %>
      </h5>
      <p class="small text-muted">Munich, Germany</p>
      <p class="text-muted">Voyage to the orion nebula. Painter. Avid traveler!</p>
  </div>
</div>

<div id="posts">
  <%= render partial: 'posts/post', collection: @user.posts.order(:created_at).reverse_order %>
</div>