<% unless posts.count <= 0 %>
  <div class="card bg-rounded-box soft-shadow">
    <ul class="list-group list-group-flush">
      <% posts.each do |post| %>
        <%= render 'post', post: post %>
      <% end %>
    </ul>
  </div>
<% end %>