<br>

<% flash.each do |type, message| %>
  <div class="alert alert-warning fade in" role="alert">
    <button class="close" data-dismiss="alert">×</button>
    <%= notice %>
  </div>
<% end %>

<%= form_for(Post.new, remote: true) do |f| %>
  <%= f.text_field :message, class: 'form-control', placeholder: 'Start typing and press enter to add a post',
      autocomplete: :off, autofocus: true %>
<% end %>

<hr class="m-y-2">

<div id="posts">
  <%= render partial: 'post', collection: @posts.order(:created_at).reverse_order %>
</div>

