<div class="row">
  <div class="col-md-8 col-md-offset-2 m-t-3">
  
    <%= render @post %>
    
    <div id="paginator" class="m-y-3 text-xs-center">
        <%= link_to 'ALL POSTS', posts_path, id: 'load_more', class: 'btn btn-warning-outline btn-small' %>
    </div>
    
  </div>
</div>