@import "partials/gradient";
@import url(https://fonts.googleapis.com/css?family=Pacifico);

$pacifico: 'Pacifico', cursive;
$break-small: 768px;

body {
  background-color: #F9FBFA;
}

p {
  word-wrap: break-word;
}

#brand-title {
  font-family: $pacifico;
  color: white;
}

.avatar-frame {
  $radius: 50%;
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

.bg-white {
  background-color: #fff;
}

.bg-orange {
  background-color: orange;
}

.outline-white {
  border-color: white;
  color: white;
}

.form-wrapper {
  width: 100%;
  @media screen and (min-width: $break-small) {
    width: 60%;
  }
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}