body {
  background-color: #F9FBFA;
}

.bg-white {
  background-color: #fff;
}

.navbar-bordered {
  border: 1px solid #eeefef;
  border-radius: 3px;
}

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}