body {
  background-color: #F9FBFA;
}

.bg-white {
  background-color: #fff;
}

.navbar-bordered {
  border: 1px solid #eeefef;
  border-radius: 3px;
}

.posts-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
}
.post {
  background-color: #fff;
  border-color: #edeeee;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 60px;
}
.post-head {
  height: 64px;
  padding: 14px 20px;
  color: #125688;
  font-size: 15px;
   border-top: 1px solid #eeefef;
}
.caption {
  padding: 24px 24px;
  font-size: 15px;
  line-height: 18px;
}
.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}
.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}

.soft-xs-shadow {
  box-shadow: 0px 2px 4px #eee;
}