<div class="col col-sm-4 col-sm-offset-4 m-t-3">
  <div class="container">
    <div class="alert alert-danger">
      <h1 class="display-1">404<h1>
      <p class="lead">Oh, we couldn't find the page that you are looking for :(<p>
    </div>
  </div>
</div>